<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Kamran Shahzad | Home </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <style>
    </style>
</head>
<body>

<div class="github-fork-ribbon-wrapper left">
    <div class="github-fork-ribbon">
        <a href="https://github.com/kamranshahzad" target="_blank">Fork me on GitHub</a>
    </div>
</div>



<header>

    <div class="container">
        <div class="row">
            <div class="col-md-6 top-title">
                <h1 id="site_title">kamranshahzad.github.io</h1>
                <p><span class="tag-line">Full Stack Web & App Developer</span></p>
            </div>
            <div class="col-md-6 top-nav">
                <ul class="top-list-inline">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Projects</a></li>
                    <li role="presentation"><a href="#">Articles</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

    </div><!--@container-->
</header>



<div class="container">


    <div class="row main-project-container" id="projectsContainer">
        <!--main_projects -->
        <h1>Open Source Projects</h1>

        <!--@main_projects -->
    </div>
    <br/>



    <div class="row inline-project-container" id="inlineProjectContainer">
        <table class="table table-condensed" id="inlineProjectsTbl">
            <tbody>
            </tbody>
        </table>
    </div><!--@inline-project-container -->



    <div class="row article-container" id="articleContainer">
        <h1>Articles</h1>
        <div class="well well-lg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>


        <div class="articles">
            <ul id="articleList">
            </ul>
        </div><!--@articles-->

    </div><!--@article-container -->




    <div class="row about-container">
        <h1>Little bit about me.</h1>
        <div class="col-md-12">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            <p style="text-align: center">
                <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Mail Me</a>
            </p>
        </div>

    </div><!--@about-container -->





    <br/><br/>
</div><!--@container-fluid-->




<footer>

    <ul class="list-inline social-buttons">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://pk.linkedin.com/pub/kamran-shahzad/98/a16/47"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href=""><i class="fa fa-stack-overflow"></i></a></li>
        <li><a href=""><i class="fa fa-codepen"></i></a></li>
        <li><a href=""><i class="fa fa-git"></i></a></li>
    </ul>

</footer>



<script id="projectTemplate" type="text/template">
    <div class="col-md-6 project-item">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2" >
                <div class="box-icon-container <%= bgclass %>">
                    <i class="<%= icon %> icon-item"></i>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h3><%= title %></h3>
                <p><%= description %></p>
                <% _.each( links, function( item ){ %>
                    <a href="<%= item.url %>"> -> <%= item.label %> </a> <br/>
                <% }); %>
            </div>
        </div>
    </div><!--@project_item-->
</script>


<script id="inlineProjectTemplate" type="text/template">
    <tr>
            <td class="title"><a href="<%= url %>"><%= title %></a></td>
            <td class="links">
                <% _.each( links, function( item ){ %>
                <a href="<%= item.url %>"> <%= item.label %> </a> &nbsp;&nbsp;
                <% }); %>
            </td>
            <td><%= description %></td>
            <td class="technology-name"><%= technology %>&nbsp; <i class="fa fa-circle <%= color %>"></i></td>
    </tr>
</script>


<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="vendor/underscore-min.js"></script>
<script src="vendor/backbone-min.js"></script>
<script src="assets/scripts/static-data.js"></script>
<script src="assets/scripts/app.js"></script>
<script>



    (function ($) {


        _.each(projects , function(value, key){
            var tpl = $("#projectTemplate").html();
            var template = _.template(tpl);
            $('#projectsContainer').append(template(value));
        });

        function loadInlineProjects(){
            _.each(inline_projects , function(value, key){
                var tpl = $("#inlineProjectTemplate").html();
                var template = _.template(tpl);
                $('#inlineProjectsTbl tbody').append(template(value));
            });
        }

        loadInlineProjects();




        var articals = [
            {title:"How Single Form Works? Lets see",url:"http://www.google.com"},
            {title:"The idea of Suggest List. Have you any?",url:"http://www.google.com"}
        ];

        function loadArticals(){
            var tpl = $("#articalTemplate").html();
            _.each(articals , function(value, key){
                var template = _.template(tpl);
                $('#articleList').append(template(value));
            });
        }

        loadArticals();


    } (jQuery));


</script>
</body>
</html>