<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Kamran Shahzad | Home </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <style>
    </style>
</head>
<body>

<div class="container-fluid no-padding">

    <header>
        <div class="row">
            <div class="col-md-6">
                <h1 id="site_title">kamranshahzad.github.io</h1>
                <p>Full Stack Developer/Front-end Developer</p>
            </div>
            <div class="col-md-6">
                Socal Media
            </div>
        </div>

    </header>







    <content>

        <div class="row">
            <h1>Open Source Projects</h1>
            <br/><br/>

            <div class="col-md-6 col-sm-6">



                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-1">
                            <span class="inner-icon">
                                <i class="fa fa-mobile fa-3x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>Viewport</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> npmjs </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-2">
                            <span class="inner-icon">
                                <i class="fa fa-tag fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>TagsInput</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> npmjs </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-3">
                            <span class="inner-icon">
                                <i class="fa fa-upload fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>Bulk Upload</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> npmjs </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-7">
                            <span class="inner-icon">
                                <i class="fa fa-upload fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>Layout Bundle</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> Knpbundles </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-8">
                            <span class="inner-icon">
                                <i class="fa fa-upload fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>XMLForm Bundle</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> Knpbundles </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-9">
                            <span class="inner-icon">
                                <i class="fa fa-upload fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>Taxonomy Bundle</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> Knpbundles </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-10">
                            <span class="inner-icon">
                                <i class="fa fa-upload fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>CodeSnippet Bundle</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> Knpbundles </a>
                    </div>
                </div><!--@icon-container-->



            </div><!--@column-->





            <div class="col-md-6 col-sm-6">

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-4">
                            <span class="inner-icon">
                                <i class="fa fa-list fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>Suggest List</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> npmjs </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-5" >
                            <span class="inner-icon">
                                <i class="fa fa-square-o fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>Single Line Form</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> npmjs </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-6" >
                            <span class="inner-icon">
                                <i class="fa fa-mobile fa-3x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>Responsive Menus</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> npmjs </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-11">
                            <span class="inner-icon">
                                <i class="fa fa-upload fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>Theme Bundle</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> Knpbundles </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-12">
                            <span class="inner-icon">
                                <i class="fa fa-upload fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>Dashboard Bundle</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> Knpbundles </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-13">
                            <span class="inner-icon">
                                <i class="fa fa-upload fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>GroupList Bundle</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> Knpbundles </a>
                    </div>
                </div><!--@icon-container-->

                <div class="row icon-container">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="circle" class="b-color-14">
                            <span class="inner-icon">
                                <i class="fa fa-upload fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3>CodeMirror Bundle</h3>
                        <p>A modern dialog library which is highly configurable and easy to style. </p>
                        <a href="#"> -> Github </a> <br/>
                        <a href="#"> -> Docs </a> <br/>
                        <a href="#"> -> Knpbundles </a>
                    </div>
                </div><!--@icon-container-->


            </div><!--@column-->

        </div><!--@row-->
        <br/><br/>

        <div class="row">

            <div class="filter-container" id="filter-container">

            </div><!--@filter-container -->



            <div class="inline-projects">

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <a href="#" class="label">DOMJS</a>
                        <span class="links">
                        <a href="#">github</a>&nbsp;&nbsp;
                        <a href="#">docs</a>
                        </span>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <p>It is a long established fact that a reader will be distracted by the</p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 tech-name">
                        Python&nbsp; <i class="fa fa-circle color-1"></i>
                    </div>

                </div><!--@row-->


            </div><!--@inline-projects-->



        </div><!--@row-->
        <br/><br/>


        <div class="row">
            <h1>Articles</h1>
            <p>Here is the list of articles which covers all open sources components which i developed or contributed.</p>
            <br/>
            <article class="post-summary">
                <time title="May 13, 2015" datetime="05/13/2015" pubdate="" itemprop="datePublished"><span class="date"> 05/13</span><span class="year">2015</span></time>
                <a href="#" class="blog-link">Batch Rendering Screenshots with PhantomJS</a>
            </article>
            <article class="post-summary">
                <time title="May 13, 2015" datetime="05/13/2015" pubdate="" itemprop="datePublished"><span class="date"> 05/13</span><span class="year">2015</span></time>
                <a href="#" class="blog-link">Sorting with the help of HTML5 Drag'n'Drop API. This API Works fine</a>
            </article>

            <div class="clearfix"></div>
            <br/>
            <button class="btn btn-info btn-sm">View Blog</button>

        </div><!--@row-->
        <br/><br/>



        <div class="row">
            <h1>Little bit about me.</h1>
            <br/>
            <div class="about-container">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div><!--@about-container-->
        </div><!--@row-->
        <br/><br/>



    </content>


    <footer>

        <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://pk.linkedin.com/pub/kamran-shahzad/98/a16/47"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href=""><i class="fa fa-stack-overflow"></i></a></li>
            <li><a href=""><i class="fa fa-codepen"></i></a></li>
            <li><a href=""><i class="fa fa-git"></i></a></li>
        </ul>

    </footer>

</div><!--@container-fluid-->




<script id="contactTemplate" type="text/template">
    <img src="<%= photo %>" alt="<%= name %>" />
    <h1><%= name %><span><%= type %></span></h1>
    <div><%= address %></div>
    <dl>
        <dt>Tel:</dt><dd><%= tel %></dd>
        <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
    </dl>
</script>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="vendor/underscore-min.js"></script>
<script src="vendor/backbone-min.js"></script>
<script src="assets/scripts/static-data.js"></script>
<script src="assets/scripts/app.js"></script>
<script>

    var list_projects = [
        {name: "DOM JS",link:"bbcurdu.com"},
        {name: "BASE JS",link:"bbcurdu.com"}
    ];


    (function ($) {

        var contacts = [
            { name: "Contact 1", address: "1, a street, a town, a city, AB12 3CD", tel: "0123456789", email: "anemail@me.com", type: "family" },
            { name: "Contact 2", address: "1, a street, a town, a city, AB12 3CD", tel: "0123456789", email: "anemail@me.com", type: "family" },
            { name: "Contact 3", address: "1, a street, a town, a city, AB12 3CD", tel: "0123456789", email: "anemail@me.com", type: "friend" },
            { name: "Contact 4", address: "1, a street, a town, a city, AB12 3CD", tel: "0123456789", email: "anemail@me.com", type: "colleague" },
            { name: "Contact 5", address: "1, a street, a town, a city, AB12 3CD", tel: "0123456789", email: "anemail@me.com", type: "family" },
            { name: "Contact 6", address: "1, a street, a town, a city, AB12 3CD", tel: "0123456789", email: "anemail@me.com", type: "colleague" },
            { name: "Contact 7", address: "1, a street, a town, a city, AB12 3CD", tel: "0123456789", email: "anemail@me.com", type: "friend" },
            { name: "Contact 8", address: "1, a street, a town, a city, AB12 3CD", tel: "0123456789", email: "anemail@me.com", type: "family" }
        ];

        var Contact = Backbone.Model.extend({
            defaults: {
                photo: "/img/placeholder.png"
            }
        });

        var Directory = Backbone.Collection.extend({
            model: Contact
        });

        var ContactView = Backbone.View.extend({
            tagName: "article",
            className: "contact-container",
            template: $("#contactTemplate").html(),

            render: function () {
                var tmpl = _.template(this.template);

                this.$el.html(tmpl(this.model.toJSON()));
                return this;
            }
        });

        var DirectoryView = Backbone.View.extend({
            el: $("#filter-container"),

            initialize: function () {
                this.collection = new Directory(contacts);
                this.render();
            },

            render: function () {
                var that = this;
                _.each(this.collection.models, function (item) {
                    that.renderContact(item);
                }, this);
            },

            renderContact: function (item) {
                var contactView = new ContactView({
                    model: item
                });
                this.$el.append(contactView.render().el);
            }
        });

        var directory = new DirectoryView();

    } (jQuery));


</script>
</body>
</html>