<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Kamran Shahzad | Home </title>
    <meta name="keywords" content="javascript"/>
    <meta name="description" content="JavaScript developer"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <style>
    </style>
</head>
<body>




<header id="headerView"></header>



<div class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">
    <!--innerContent -->

        <div class="row main-project-container" id="projectsContainer">
            <!--main_projects -->
            <h1>Open Source Projects</h1>

            <!--@main_projects -->
        </div>
        <br/>



        <div class="row inline-project-container" id="inlineProjectContainer">
            <table class="table table-condensed" id="inlineProjectsTbl">
                <tbody>
                </tbody>
            </table>
        </div><!--@inline-project-container -->



        <div class="row article-container" id="articleContainer">
            <h1>Articles</h1>

            <div class="well well-lg" id="articleNote"></div>


            <div class="articles">
                <ul id="articleList">
                </ul>
            </div><!--@articles-->

            <a href="http://kamranshahzad.github.io/blog/" class="blog_more" > Read More .. </a>

        </div><!--@article-container -->




        <div class="row about-container" id="aboutContainer">
            <h1>Little bit about me.</h1>
            <div class="col-md-12">
                <p>
                I’m a Kamran Shahzad - a full stack web developer, interested in entrepreneurship and creating scalable and high traffic web apps with amazingly great UI/UX.
                </p>
                <p> 
                I'm passionate about building and leading teams to create enterprise web and mobile apps. I've written a few open source libraries and have been involved with some interesting projects lately
                </p>
                <p>
                    I write in JavaScript, CSS, Python, and PHP. I have excellent working knowledge of frameworks like Symfony, Laravel, Django, AngularJS, BackBoneJS. I also can speak to databases(MySQL, POSTGre, MongoDB) and make servers do stuff. I like working on scalability, performance, design, and great user experiences.
                </p>
            </div>

        </div><!--@about-container -->
        <br/><br/>

        <div class="contact-container" id="contactContainer">
        </div><!--@contactContainer-->
        <br/><br/>

    <!--@innerContent -->    
    </div>    
    
</div><!--@container -->




<footer id="footerLinksContainer"> </footer>



<script id="projectTemplate" type="text/template">
    <div class="col-md-6 project-item">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2" >
                <div class="box-icon-container <%= bgclass %>">
                    <i class="<%= icon %> icon-item"></i>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h3><a href="<%= url %>"><%= title %></a></h3>
                <p><%= description %></p>
                <% _.each( links, function( item ){ %>
                    <a href="<%= item.url %>"> -> <%= item.label %> </a> <br/>
                <% }); %>
            </div>
        </div>
    </div><!--@project_item-->
</script>


<script id="inlineProjectTemplate" type="text/template">
    <tr>
            <td class="title"><a href="<%= url %>"><%= title %></a></td>
            <td class="links">
                <% _.each( links, function( item ){ %>
                <a href="<%= item.url %>"> <%= item.label %> </a> &nbsp;&nbsp;
                <% }); %>
            </td>
            <td class="hidden-xs hidden-sm"><%= description %></td>
            <td class="technology-name"><%= technology %>&nbsp; <i class="fa fa-circle <%= color %>"></i></td>
    </tr>
</script>


<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>




<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="vendor/underscore-min.js"></script>
<script src="assets/scripts/static-data.js"></script>
<script src="assets/scripts/app.js"></script>
<script>



    (function ($) {

        $.get('templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));


        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


        _.each(projects , function(value, key){
            var tpl = $("#projectTemplate").html();
            var template = _.template(tpl);
            $('#projectsContainer').append(template(value));
        });

        function loadInlineProjects(){
            _.each(inline_projects , function(value, key){
                var tpl = $("#inlineProjectTemplate").html();
                var template = _.template(tpl);
                $('#inlineProjectsTbl tbody').append(template(value));
            });
        }

        loadInlineProjects();

        function loadArticals(){
            var tpl = $("#articalTemplate").html();
            _.each(articals , function(value, key){
                var template = _.template(tpl);
                $('#articleList').append(template(value));
            });
        }

        loadArticals();


    } (jQuery));


</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63308210-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>