@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);


	h1 {
		font-size: 1.8em;
		font-weight: 500;
	}

	h2 {
		font-size: 1.4em;
		font-weight: 500;
		/*margin: 20px 0 10px;*/
		color:#484848;
	}

	h3 {

	}

	.alert { }

	.product-page {
		font-family: 'Roboto',sans-serif;
		font-size: 14px;
	}

	.product-page h3 {
		font-size: 1.1em;
		font-weight: 600;
		margin: 20px 0 10px;
		color:#ffb400;
	}

	.product-page .background-container {
		padding: 5px;
	}



	.product-page p{
		padding: 5px;
	}