


html, body{
    height:100%;
}

body{
    font-family: "Raleway";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
    margin: 0;
}


.b-color-1 { background-color: #8328ff;}
.b-color-2 { background-color: #c4ff61;}
.b-color-3 { background-color: #b7ad2b;}
.b-color-4 { background-color: #66aeff;}
.b-color-5 { background-color: #baff68;}
.b-color-6 { background-color: #ff625f;}
.b-color-7 { background-color: #39ffba;}
.b-color-8 { background-color: #ff3645;}
.b-color-9 { background-color: #ff9e41;}
.b-color-10 { background-color: #a5ffd9;}
.b-color-11 { background-color: #0aff00;}
.b-color-12 { background-color: #bed5ff;}
.b-color-13 { background-color: #ffcec2;}
.b-color-14 { background-color: #cfff65;}
.b-color-15 { background-color: #8560ff;}
.b-color-16 { background-color: #1c8bff;}

.color-1 {color:#6dc577;}
.color-2 {color:#589fbb;}
.color-3 { color:#fc5b3b;}
.color-4 { color:#fcb13b;}
.color-5 { color:#0ce1e9;}

/* _commons */

 .no-margin {}
 .no-padding { padding: 0;}



/* main projects */
.main-project-container {}

.main-project-container h1, .article-container h1, .about-container h1{
    text-align: center;
    margin: 5rem;
    font-size: 2.5rem;
    font-weight: 400;
}


.project-item { margin:18px 0px; }
.project-item h3{
    margin: 3px;
}

.project-item h3 a{
    font-size: 1.4rem;
    font-weight: bold;
    color: #0d0d0d;
}

.project-item p{
    color: #4b4b4b;
}

.project-item a {
    color: #009fc6;
    font-size: 12px;
}

.project-item a:hover{
    text-decoration: none;
}

.box-icon-container{
    width:4em;
    height:4em;
    -webkit-border-radius:4em;
    -moz-border-radius:4em;
    border-radius:4em;
    text-align: center;
}

.icon-item {
    display:block;
    font-size:2.3em;
    line-height:1.8em;
    color:#fff
}










/* Inline Projects */

.inline-project-container { margin-top: 25px;}
.table .title a {color: #0d0d0d; font-weight: bold; font-size: 12px; }
.table .links a {color: #323232;
    font-size: 12px;
}
.table .links a:hover{
    text-decoration: none;
}

.table .technology-name { text-align: right; color: #777777; font-size: 11px; font-weight: bold;}
.table .technology-name i { font-size: 14px;}



/* _index page */

header {
    background-color: #006680;
    padding: 15px;
}

 header h1 {
     color: #ffffff;
     font-family: 'Quattrocento Sans', sans-serif;
     margin-top: 10px;
     font-size: 3rem;
 }

 header p{color: #ffffff;font-size: 13px;}
 header p .tag-line{ background-color: #007895; padding: 3px 6px;border-radius: 15px;}



.top-nav {
    text-align: right;
}
.top-nav ul {
    padding: 0;
    list-style-type: none;
}
.top-nav ul li {
    margin-left: 20px;
}
.top-nav ul a {
    color: #dbdbdb;
    font-weight:400;
    font-size: 15px;
}
.top-nav ul a:hover {
    text-decoration: none;
    color: #878787;
}
.top-nav ul li {
    padding: 0.25em 0; }
.top-nav ul li:hover {
    color: #004E7D; }

.top-list-inline {padding-left:0;list-style:none;margin-left:-5px}
.top-list-inline > li{display:inline-block; margin: 0px; padding: 0px;}





/*
    _footer
*/

 footer {
     background-color: #0d0d0d;
     color: #ffffff;
     text-align: center;
     padding: 20px;
 }

.list-inline {padding-left:0;list-style:none;margin-left:-5px}
.list-inline > li{display:inline-block; margin: 0px; padding: 0px;}

ul.social-buttons {margin-bottom:0}
ul.social-buttons li a{display:block;width:40px;height:40px;border-radius:100%;font-size:16px;line-height:40px;outline:0;color:#fff;background-color: #777777;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover{background-color: #009fc6
}








/*
    Sub Page
*/
.top-container {
    background-color: #f3f3f3;
    padding: 20px;
}
.top-container h3{
    font-weight: 500;
}
.top-container p{
    color: #454545;
    margin: 15px;
}


.content-container h2 { font-size: 1.4em; margin-bottom: 10px; color: #004E7D; font-weight: 400;}
.content-container .patch { margin-top: 30px;}



pre { padding: 0px;}






/*
    Article Listings
*/

.article-container {
    margin-top: 25px;
}

.article-container .blog_more{
    margin-left: 40px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
}
.articles ul { list-style: none; }
.articles ul li { }
.articles ul li a {
    color: #ffffff;
    padding:10px;
    vertical-align:middle;
    font-size:13px;
    background-color: #009fc6;
    line-height: 35px;
}
.articles ul li a:hover{
    text-decoration: none;
    background-color: rgba(76, 184, 245, 0.9);
}

.articles ul li i{
    color: #00445f;
    font-size: 14px;
}



/* article index page */

.articles-list table { width: 90%; margin: 0 auto;}
.articles-list .date {  width: 20%; border-bottom: solid 1px #0d5c7d; color: #ffffff;  background-color: #004E7D;  text-align: center;  }
.articles-list .link { width: 80%; border-bottom: solid 1px #15b8c6; color: #ffffff;  background-color: #009fc6; vertical-align: middle;  }
.articles-list .link a { color:#ffffff; }




/*
    about-container
*/
.about-container {}




/*
    Blog Page
*/
.blog-container h1 {
    text-align: center;
    margin: 3rem;
    font-size: 3rem;
    font-weight: 400;
}

img { margin:20px auto;display: block;max-width:100%;height:auto;}

.blog-container h2 { font-size: 1.5em; font-weight: 400; margin: 10px; color: #ff754c;}


/*
    contact-container
*/
.contact-container {
    background-color: #95dafa;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    border-radius:0.3em;
    padding: 15px;
    text-align: center;
}

.contact-container h3{
    color: #0d0d0d;
    font-size: 1.4em;
    font-weight: 500;
}
.contact-container p{
    margin-top: 10px;
    color: #ffffff;
}




/* mixed */

#articleNote { text-align: center;}

 /*
    Media Queries
 */

@media (max-width: 800px) {

    .top-nav,.top-title { text-align: center;}
    .top-list-inline > li { display:block;}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}