<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Blog | create a simple theme using layoutbundle </title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="../vendor/highlight/default.min.css">
    <link rel="stylesheet" href="../vendor/highlight/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <style>
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">


    <div class="row blog-container" id="blogContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--content-->
            <ol class="breadcrumb">
                <li><a href="http://kamranshahzad.github.io/">Home</a></li>
                <li><a href="http://kamranshahzad.github.io/blog/">Blog</a></li>
                <li class="active">create a simple theme using layoutbundle</li>
            </ol>
            <h1>Create a simple theme using layoutbundle</h1>
            <hr/>
            <div class="date">
                <i class="fa fa-clock-o"></i> &nbsp; August 24th, 2015
            </div>


            <h2>Where all themes will be place?</h2>
           
            <p>
                You can place your all theme in any bundle. The 'themes' directory will be created in bundles 'views' directory. For example, you have a bundle with name of ThemeBundle or FrontBundle. So you create a 'themes' directory in your ThemeBundle. Here is the directory hierarchy.
            </p>
            <pre>
                <code class="php5">
                    ThemeBundle->Resources->views->themes
                </code>
            </pre>
            <blockquote>
                <p> Your can create many themes in <span class="bold">'themes'</span> directory<p>
            </blockquote>
            <figure>
                <img src="images/theme-hierarchy.jpg" />  
                <figcaption>
                    Themes hierarchy
                </figcaption>
            </figure>
            <p>After creating themes directory, you needs to register your theme bundle in config.yml</p>
            <pre>
                <code class="php5">
                    kamran_layout:
                        _theme_bundle: '[Namespace]ThemeBundle'
                </code>
            </pre>
            <p>
                One of the easiest improvements we can implement with our pre content is syntax highlighting. It makes code easier to read and understand. In addition, it makes our design a bit more vibrant.
            </p>
            <figure>
                <img src="images/theme-child-template.jpg" />  
                <figcaption>
                    Themes child template
                </figcaption>
            </figure>

            <h2>Layout handler file(layouts.xml)</h2>
            <p>
                This file is called theme configuration file. This file is responsible for handling theme layouts.You can define URL rules to themes and theme templates.
                Themes regions are defined in this file.
            </p>
            <blockquote>
                <p> 
                layouts.xml file is theme configuration file which handles all theme related tasks
                <p>
            </blockquote>
            
            
            <!--@content-->
        </div>

        



    </div><!--@article-container -->

    <br/><br/><br/><br/>



    <br/><br/>
</div><!--@container-fluid-->


<footer id="footerLinksContainer"> </footer>




<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/highlight/highlight.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>
     hljs.initHighlightingOnLoad();


    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


    } (jQuery));


</script>
</body>
</html>