<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Blog | create a simple theme using layoutbundle </title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="../vendor/highlight/default.min.css">
    <link rel="stylesheet" href="../vendor/highlight/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <style>
        h3 { font-size: 19px; font-weight: 300;color:#3299FF;}
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">


    <div class="row blog-container" id="blogContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--content-->
            <ol class="breadcrumb">
                <li><a href="http://kamranshahzad.github.io/">Home</a></li>
                <li><a href="http://kamranshahzad.github.io/blog/">Blog</a></li>
                <li class="active">create a simple theme using layoutbundle</li>
            </ol>
            <h1>Create a simple theme using layoutbundle</h1>
            <hr/>
            <div class="date">
                <i class="fa fa-clock-o"></i> &nbsp; August 24th, 2015
            </div>

            <h2>Before create a theme, needs some explanations!</h2>
            <p>
            When you start creating theme using layoutBundle, following questions will help you understand <span class="bold">“how to create theme with LayoutBundle”</span>.
                <ul>
                    <li>Where all themes will be placed?</li>
                    <li>How to use layout handler file?</li>
                    <li>How to use child templates?</li>
                </ul>
            </p>


            <h3>Where all themes will be placed?</h3>
           
            <p>
                You can place your all theme in any bundle. The 'themes' directory will be created in bundles 'views' directory. For example, you have a bundle with name of ThemeBundle or FrontBundle, create a 'themes' directory in your ThemeBundle. Here is the directory hierarchy.
            </p>
            <pre>
                <code class="php5">ThemeBundle->Resources->views->themes</code>
            </pre>
            <blockquote>
                <p> Your can create many themes in <span class="bold">'themes'</span> directory<p>
            </blockquote>
            <figure>
                <img src="images/theme-hierarchy.jpg" />  
                <figcaption>
                    Themes directory hierarchy
                </figcaption>
            </figure>
            <p>After creating themes directory, register your theme bundle in config.yml</p>
            <pre>
                <code class="php5">kamran_layout:
    _theme_bundle: 'YourBundleName'  // bundle name with namespaces</code>
            </pre>
            <p>
                One of the easiest improvements we can implement with our pre content is syntax highlighting. It makes code easier to read and understand. In addition, it will make our design a bit more vibrant.
            </p>
            

            <h3>How to use layout handler file?</h3>
            <p>
                This file is called theme configuration file and is responsible for handling theme layouts.You can define URL rules to themes and theme templates.
                Themes regions are also defined in this file.
            </p>
            <blockquote>
                <p> 
                layouts.xml file is theme configuration file which handles all theme related tasks
                <p>
            </blockquote>
            
            <h3>How child templates used in LayoutBundle?</h3>
            <p></p>
            <figure>
                <img src="images/theme-child-template.jpg" />  
                <figcaption>
                    Themes child template
                </figcaption>
            </figure>

            <h2>Create a simple theme for Symfony2</h2>
            <p>
                Creating a theme using LayoutBundle is easy, here are steps to create a theme.
            </p>
            <h3>1. &nbsp; Install LayoutBundle</h3>
            <p>You need to install LayoutBundle using composer</p>
            <pre>
                <code class="php5">$ composer require kamran/layout-bundle dev-master</code>
            </pre>
            <h3>2. &nbsp; Choose a bundle, where you placed themes</h3>
            <p>This bundle provides the flexibility to choose any bundle for theme placement. Choose wisely, like sometime we use a FrontBundle in project, and put all front page/index page related items in that bundle. So we recommend that bundle for placment of theme.</p>
            <p>&nbsp;  So I have created the 'themes' directory in my FrontBundle. Here is the directory path.</p>
            <pre>
                <code class="php5">FrontBundle->Resources->views->themes</code>
            </pre>
            <h3>3. &nbsp; Register FrontBundle in config.yml</h3>
            <p>After creating themes directory in FrontBundle, you need to register your FrontBundle in config.yml</p>
            <pre>
                <code class="php5">kamran_layout:
    _theme_bundle: 'FrontBundle'  // bundle name with namespaces, use your namespace with bundle name</code>
            </pre>
            <h3>4. &nbsp; Create themes configuration file(layouts.xml)</h3>
            <p>For handling themes you needs to create theme configuration file with the name of "layouts.xml" in "themes" directory.</p>    
            <pre>
                <code class="php5">FrontBundle->Resources->views->themes->layouts.xml</code>
            </pre>
            <h3>5. &nbsp; Create a theme directory</h3>
            <p>You can create theme with any name. Lets create a theme directory with "bluemoon" name. </p>
            <pre>
                <code class="php5">FrontBundle->Resources->views->themes->bluemoon</code>
            </pre>

            <h3>6. &nbsp; Create a theme templates</h3>
            <p>In your theme, you can create parent templates for different type of content which have different layouts.</p>    
            <p>For example, create a template "front.html.twig". This template will be used for "Front Page"</p>
            <pre>
                <code class="php5">FrontBundle->Resources->views->themes->bluemoon->front.html.twig</code>
            </pre>
            <p>You can create more templates in theme according to your needs</p>

            <h3>7. &nbsp; Add your theme name in "layouts.xml" file</h3>
            <p>Here is the basic pattern of "layouts.xml" file</p>
            <figure>
                <img src="images/basic-bluemoon-theme.jpg" />  
                <figcaption>
                    Basic themes configuration file(layouts.xml)
                </figcaption>
            </figure>
            <h3>8. &nbsp; Add templates in theme configuration file(layouts.xml)</h3>
            <p>Now we have added some theme templates in layouts.xml file</p>
            <figure>
                <img src="images/bluemoon-theme-layout.jpg" />  
                <figcaption>
                    "bluemoon" theme configuration file(layouts.xml)
                </figcaption>
            </figure>
            <p><span class="bold">Themes default template: </span> This is the default template for your theme, if you leave this attribute blank then default template will be used.</p>

            <h3>9. &nbsp; Add "extends" tag in your child templates</h3>
            <p>Add following tag in top of your child templates(controllers action templates)</p>
            <pre>
                <code class="php5">{% extends themes %}</code>
            </pre>

            <h3>10. &nbsp; Add regions and blocks in theme template files</h3>
            <p></p>
            <figure>
                <img src="images/full-theme-template.jpg" />  
                <figcaption>
                    Theme template with regions
                </figcaption>
            </figure>


            <!--@content-->
        </div>

        



    </div><!--@article-container -->

    <br/><br/><br/><br/>



    <br/><br/>
</div><!--@container-fluid-->


<footer id="footerLinksContainer"> </footer>




<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/highlight/highlight.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>
     hljs.initHighlightingOnLoad();


    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


    } (jQuery));


</script>
</body>
</html>