<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Blog | First Step: Why Component Development?  (Part-1) </title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/all-styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/blog-product-styles.css" >
    <style>
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">


    <div class="row blog-products-page" id="blogContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--content-->
            <ol class="breadcrumb">
                <li><a href="http://kamranshahzad.github.io/">Home</a></li>
                <li><a href="http://kamranshahzad.github.io/blog/">Blog</a></li>
                <li class="active">First Step: Why Component Development?  (Part-1)</li>
            </ol>

            <h1>First Step: Why Component Development?  (Part-1)</h1>
            <hr/>
            <div class="date">
                <i class="fa fa-clock-o"></i> &nbsp; March 14th, 2016
            </div>
            <!--Blog_Article-->

                <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Vision</h2>
                <p>
                    During my development tenure I have worked on hundreds of web application. 
                    But I can add only few of them on my profile! Why? Because maximum web apps were 
                    developed for non-serious clients with no business vision, so after a year or so these web apps 
                    failed and clients didn’t even renewed the domains. And some were developed as junk 
                    (based on just do it, deliver rapidly with no security measures, no code quality, no QC, 
                    no application optimization etc). I believe in rapid development but there is no room for compromise 
                    on quality. Unfortunately local software market is all about quantity with no focus on quality and 
                    future perspectives. During my job I always preferred to adopt latest and stable technology according 
                    to project need and market demand. So I was not good fit for majority of local software houses, 
                    then I decide to quit my job and challenge myself by taking a bold decision and start working on my own 
                    ideas to develop a robust product with emphasis on quality, speed, security and scalability. 
                    Working on my own ideas gave me the freedom of choosing top of the line technologies that were best 
                    suited for my product.
                </p>
                
                <h2><i class="fa fa-angle-double-right icon" ></i>&nbsp;Market trends and component development</h2>
                <p>
                    The market of component development for web or mobile application will not end. 
                    In this market there is huge space for who which comes with strong idea. 
                    Strong idea always becomes true using proper development flow(idea, design, develop, test, 
                    documentation, publish) and marketing strategy. There is no shortcut to achieve goals in this market. 
                    A proper team(with their perfect skills) with passion could make reputation in component development 
                    market. The start is full of obsticals, but the future is so bright.
                    Following are some market trends or some reasons why components have extensive demand in the market
                </p>
                <div class="details-box">
                    <h4><i class="fa fa-angle-right"></i>&nbsp;Wordpress</h4>
                    <p>
                        WordPress is widely used CMS for small to medium businesses. WordPress is open source with great community. WordPress comes with numbers of themes and extensions. In cost effective components market WordPress is leading CMS in the market. In market there are many commercial theming frameworks and extensions available. The theming framework help user to change styles of their website. These theming framework comes with huge number of build-in templates and multipurpose themes. The extensions components provides the solution of specific business element.
                    </p>
                    <h4><i class="fa fa-angle-right"></i>&nbsp;Components are cost effective</h4>
                    <p>
                        Buying component instead of the developing whole functionality from scratch, that's cost effective. The user has a choice to consider alternate component which fulfill his need. Most component's comes with 1 year software license. During this period they offer different kind of service like support, tickets etc. 
                    </p>
                    <h4><i class="fa fa-angle-right"></i>&nbsp;Standardized Code</h4>
                    <p>
                        Commercial component's comes with well written optimized code. It has extensive support(live, tickets, forums etc) with complete documentation. Component development companies follow market trends to develop their products. They used latest or stable technology to build components. These things made component first choice to replace development from scratch method.
                    </p>
                    <h4><i class="fa fa-angle-right"></i>&nbsp;Migrations</h4>
                    <p>
                        Migration is very important part of software development. Migration has many types like data migration, platform migration, server migration, version migration etc. There are two type of version release occurred for components. First when base technology comes with newer version(like drupal7 to drupal8). Second type of release may contain new features or some bug fixes. Component development may provides the migration patch(small extension), which help user to migrate easily. These all facilities depends on software component license types.
                    </p>
                    <h4><i class="fa fa-angle-right"></i>&nbsp;UI Components</h4>
                    <p>
                        UI components are the most demanding product of the component market, because in web/mobile application every things is done with it. We could be easily divided any web/mobile application as components, For example menus/navigation, slider, image gallery, news etc.
                    </p>
                    <h4><i class="fa fa-angle-right"></i>&nbsp;What customer wants?</h4>
                    <p>
                        The component user want a useful control which comes with more features and flexibility but no complex configuration. They want buy component, single click install and start working. For this reason, mostly UI components are popular in the market as compare to backed components which comes with complex configuration.
                    </p>
                    <h4><i class="fa fa-angle-right"></i>&nbsp;The enterprise components market</h4>
                    <p>
                        This market belongs to software development agencies or developers only. These components used to build larger application. These component's come with complex configuration. This kind of components come with multi-usage software license. The company which buy component, it could use to build any number of applications for selling purpose. This kind of component are costly.
                    </p>
                </div><!--@details-box-->
                
                <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;My Approach</h2>
                <p>
                    My approach is similar like others, but I add some exceptional points to deliver unique products to user. Following are given below.
                </p>
                <div class="details-box">
                	<ul>
                		<li><i class="fa fa-long-arrow-right"></i>&nbsp;Using KISS(principle) “Keep it simple, stupid” , I divided larger component into small extensions.</li>
                		<li><i class="fa fa-long-arrow-right"></i>&nbsp;Fewer dependencies among extensions of component.</li>
                		<li><i class="fa fa-long-arrow-right"></i>&nbsp;Provide maximum way to draw components (Provides multiple options for extensive resource consuming tasks)</li>
                		<li><i class="fa fa-long-arrow-right"></i>&nbsp;Build component for multiple platforms, like “SmartListing” does.</li>
                		<li><i class="fa fa-long-arrow-right"></i>&nbsp;Provides helpers(small util libraries) for different technologies</li>
                		<li><i class="fa fa-long-arrow-right"></i>&nbsp;Gave more features and build-in controls or theme templates for component</li>
                		<li><i class="fa fa-long-arrow-right"></i>&nbsp;Leave room for extendable and help to integrate custom or 3rd party controls</li>
                		<li><i class="fa fa-long-arrow-right"></i>&nbsp;New features suggested by users. Voting for current features</li>
                		<li><i class="fa fa-long-arrow-right"></i>&nbsp;Provides customization services on demand</li>
                	</ul>
                </div><!--@details-box-->


                <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Products which inspired me</h2>
                <p>
                    Below products were developed for WordPress. These are top selling products on different marketplace like “codecanyon” and “themeforest” etc. This product’s comes with low price tag and yearly renewable license with 24/7 support.
                </p>
                <div class="details-box">
                	<ul>
                		<li>
                			<i class="fa fa-hand-o-right"></i>&nbsp;
                			<a href="http://codecanyon.net/item/visual-composer-page-builder-for-wordpress/242431">Visual Composer: Page Builder for WordPress</a>
                		</li>
                		<li>
                			<i class="fa fa-hand-o-right"></i>&nbsp;
                			<a href="http://codecanyon.net/item/userpro-user-profiles-with-social-login/5958681">UserPro - User Profiles with Social Login</a>
                		</li>
                		<li>
                			<i class="fa fa-hand-o-right"></i>&nbsp;
                			<a href="http://www.gravityforms.com/">Advanced Forms for WordPress</a>
                		</li>
                	</ul>
				</div><!--@details-box-->                

				<h2><i class="fa fa-angle-double-right icon"></i>&nbsp;My first component "SmartListings"</h2>
				<p>
					In my development phase I analyzed, on web applications maximum dynamic tasks are dealing with forms(dynamic forms/fields, validations etc) and data listings using different filters. These functionalities are time consuming. So I decide to develop a toolkit which will help users to do these tasks with pace.
				</p>

				<h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Inspirational workings for “SmartListings”</h2>
				<p>
					Here are some useful links to understand my component “SmartListings”
				</p>	
				<div class="details-box">
					<ul>
						<li>
							<i class="fa fa-angle-right"></i>&nbsp;
							<a href="http://www.amazon.com/PC-Parts-Components/b/ref=sd_allcat_components?ie=UTF8&node=193870011">Amazon</a> Products Catalog
						</li>
						<li>
							<i class="fa fa-angle-right"></i>&nbsp;
							<a href="http://www.amazon.com/PC-Parts-Components/b/ref=sd_allcat_components?ie=UTF8&node=193870011">Amazon</a> Products Catalog
						</li>
						<li>
							<i class="fa fa-angle-right"></i>&nbsp;
							<a href="http://www.pakwheels.com/used-cars/search/-/">PakWheels</a> Listings
						</li>
					</ul>
				</div><!--@details-box-->

				<h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Target Audience</h2>
				<p>
					“SmartListings” is developed for every one. It has extensive help documentation, which every thing is explained step-by-step with diagrams. Component development agencies could use as base tool for develop their some products or it may use as standalone tool. This component comes with vast choice of functionalities. Theme designer could use its UI controls to build dynamic themes.
				</p>
				<div class="details-box">
					<ul>
						<li>
							<i class="fa fa-angle-right"></i>&nbsp;
							Theme Developers/Designers
						</li>
	            		<li>
	            			<i class="fa fa-angle-right"></i>&nbsp;
	            			Component Developer
	            		</li>
	            		<li>
	            			<i class="fa fa-angle-right"></i>&nbsp;
	            			Web Development Agancies
	            		</li>
	            		<li>
	            			<i class="fa fa-angle-right"></i>&nbsp;
	            			Freelancers
	            		</li>
					</ul>
				</div><!--@details-box-->				

				<h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Where I reached?</h2>
				<p>The development phase is done. I am working on following things now a day:</p>
				<div class="details-box">
					<ul>
						<li>
							<i class="fa fa-angle-right"></i>&nbsp;
							Writing tests for code.
						</li>
	            		<li>
	            			<i class="fa fa-angle-right"></i>&nbsp;
	            			Working on my (components) showcase website. This will include Support(forum, tickets etc) for customers
	            		</li>
	            		<li>
	            			<i class="fa fa-angle-right"></i>&nbsp;
	            			Creating working demos for component
	            		</li>
	            		<li>
	            			<i class="fa fa-angle-right"></i>&nbsp;
	            			Writing Help Documents/Knowledge base articles
	            		</li>
					</ul>
				</div><!--@details-box-->



            <!--@Blog_Article-->


            <!--@content-->
        </div>

        



    </div><!--@article-container -->

    <br/><br/><br/><br/>



    <br/><br/>
</div><!--@container-fluid-->


<footer id="footerLinksContainer"> </footer>




<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>



    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


    } (jQuery));


</script>
</body>
</html>