<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Blog | First Step: Life Cycle, Code and Performance of “SmartListings”  (Part-3) </title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="../vendor/highlight/default.min.css">
    <link rel="stylesheet" href="../vendor/highlight/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->

    
    <link rel="stylesheet" type="text/css" href="../assets/css/all-styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/blog-product-styles.css" >
    <style>
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">


    <div class="row blog-products-page" id="blogContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--content-->
            <ol class="breadcrumb">
                <li><a href="http://kamranshahzad.github.io/">Home</a></li>
                <li><a href="http://kamranshahzad.github.io/blog/">Blog</a></li>
                <li class="active">First Step: Life Cycle, Code and Performance of “SmartListings”  (Part-3)</li>
            </ol>

            <h1>First Step: Life Cycle, Code and Performance of “SmartListings”  (Part-3)</h1>
            <hr/>
            <div class="date">
                <i class="fa fa-clock-o"></i> &nbsp; March 16th, 2016
            </div>
            <!--Blog_Article-->


            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Code</h2>
            <p>
            	“SmartListings” code is written in well formatted documented. Every Control has many options for different kind of functionality. HandlebarJS is used as JavaScript rendering engine. JQuery is used for solving cross browser issues. All components are written in simple and concise coding. “SmartListings” controls come with multiple themes & control variations. Every control has one base type. User can extend that base type to create new control variation. “SmartListing” comes with multiple control variations (e.g, a CheckboxGroup have three variations according to functionality, i.e, CheckboxGroup,ScrollCheckboxGroup,PopupCheckboxGroup). “SmartListing” component has extensive quantities of controls themes and layout options. User could easily alter any layout template.
	            <figure>
	            	<img src="images/code_snippet.png"  />
	            	<figcaption>
	                    Code Snippet from "SmartFilters" component
	                </figcaption>
	            </figure>
            </p>
            
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Flexibility</h3>
            	<p>
            		One of finest feature of “SmartListings” is flexibility. These components are designed for developer, designer of any kind of user. The developer can easily extend the current functionality of any control. The designer can easily change layout templates, or create new themes for “SmartListings” controls. These controls follow the simple flow of working.
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Extendable</h3>
            	<p>
            		“SmartListings” provide the following features to extend functionality.
            		<ul>
            			<li>1) User has flexibility to create new component and registered with “SmartListings” components.</li>
            			<li>2) User can extend any control to create new control type</li>
            			<li>3) User can add any 3rd party control plugin with “SmartListings” (e.g, Select2 JQuery plugin)</li>
            		</ul>
            		<figure>
		            	<img src="images/config.png"  />
		            	<figcaption>
		                    Code Snippet from "SmartFilters" component
		                </figcaption>
		            </figure>
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Debugging and Testing</h3>
            	<p>
            		“SmartListings” components follow the modern development trends. Every component comes with tests (Unit Test). “SmartListings” provides a basic debugging tool, which provide a debugging facility during development phase.
            	</p>
            </div><!--@extension-box-->


            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Components Life Cycle</h2>
            <p>
            	The controls in “SmartListings” components have two states. First state is called normal state, when no default values are set (e.g, CheckboxGroup in filter bar with not value selected). In the second state, control has default value. This state is called persistent state of the control(e.g, CheckboxGroup in filter bar checked some options). These states are handled by “SmartListings” components. “SmartListings” helps to build two type of web applications.
            </p>
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Traditional HTTP Web Application</h3>
            	<p>
            		In the traditional HTTP web application, when a user clicks on any filter control or submit any search form. The page reloads and a query parameter is added in current URL. The URL Registry store all query parameter and supply it into control based on key. Filter or search form controls get default values from URL Registry on every page reload. “SmartCatalog” receives notification on every page reload and load data according to selected filter options. In traditional HTTP web application user can set the default values for “SmartFilter” or “SmartForms” controls. All values come from URL query parameters.
            		<figure>
		            	<img src="images/traditional-http-app.png"  />
		            	<figcaption>
		                    Traditional HTTP web app life cycle
		                </figcaption>
		            </figure>
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Single Page Application(SPA)</h3>
            	<p>
            		SPA have two variations.
            	</p>
            	<ul>
            		<li>1) Ajax based (no query parameters in URL)</li>
            		<li>2) Route based (Modern JavaScript Frameworks, AngularJS, ExpressJS, BackboneJS etc)</li>
            	</ul>
            </div><!--@extension-box-->


            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Performance Strategies</h2>
            <p></p>
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Multiple HTML Rendering</h3>
            	<p>
            		The “SmartListings” provides the diverse approach to create UI controls for web page. The control could be created by server-side rendering engine (e.g, Twig, Blade etc) or JavaScript rendering engines (e.g, Handlebar, ejs etc). In simple functionality user can use any approach to create UI controls. But in complex approach, mostly both approaches work together. The dynamic control is created by JavaScript rendering engine, because it needs to dynamically set default value (i.e., control options or values etc.).
            		<figure>
		            	<img src="images/twig-control.png"  />
		            	<figcaption>
		                    Select Control in Twig
		                </figcaption>
		            </figure>
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Use Minimal Options</h3>
            	<p>
            		These components use multiple strategies for control creation (i.e, a Checkbox could be created using server side language or client side language like JavaScript or HTML).
“SmartListings” provides the library files according to user needs. It totally depends on user requirements. This strategy saves the repeating control's creation life cycle. Dynamic Control creation always eats the browser memory. Minimal option provides the facility to overcome browser memory leak issues. In minimal option, the control is created by server-side language (i.e, controls in Twig) and events implemented by JavaScript. This approach is mostly used for traditional HTTP web application where the page is refreshed when an event is fired.
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;JavaScript Events</h3>
            	<p>
            		“SmartListings” components have a centralized event register, which keep track of every event. This event register properly disposes dynamic created events. This event register provides help for debugging memory related issues.
            	</p>
            </div><!--@extension-box-->
            

            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Why I write code in VanillaJS instead of JavaScript Frameworks?</h2>
            <p>
            	Why I prefer to write “SmartListings” components in VanillaJS instead of well reputed JavaScript Frameworks like AngularJS or BackboneJS? This question arises. Follow points answers this question.
            </p>
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Point#1</h3>
            	<p>
            		During intial stage of development i wrote my component(SmartListings) in BackboneJS. Because BackboneJS is light weight and follows the MVC architecture. In simple control rendering Backbone Views were working fine. When I started to render nested control using BackboneJS View, I found some performance issues, that were consuming large amount of browser memory. Objective of my component was to be resource efficient. My requirement is not meeting to use BackboneJS to build my components. I studied some BackboneJS source code, there I found this code snippet. 
            	</p>
            	<pre>
                <code class="javascript">_createElement: function(tagName) {
      	return document.createElement(tagName);
}</code>
            	</pre>
            	<p>
            	It is creating DOM element dynamically.
            	</p>

            	<h3><i class="fa fa-angle-right"></i>&nbsp;Point#2</h3>
            	<p>
				JavaScript support VanillaJS to extends its functionality. It means “SmartListings” components could easily port to any modern JavaScript framework and provides compatibility with all modern JavaScript framework.
				</p>

				<h3><i class="fa fa-angle-right"></i>&nbsp;Point#3</h3>
				<p>
					Freedom of code, JavaScript provides the flexibility to write code with freedom (Build anything attitude).
				</p>
				<h3><i class="fa fa-angle-right"></i>&nbsp;Point#4</h3>
				<p>
					Easy migration from JavaScript ES5 to ES6
				</p>
            </div><!--@extension-box-->






            <div class="extension-box">
            </div><!--@extension-box-->



            <!--@Blog_Article-->

            <br/>
            <br/>
            <div class="navigate-articles">
                <a href="http://kamranshahzad.github.io/blog/first-step_the-future-part-4.html"><i class="fa fa-arrow-circle-right"></i>
                &nbsp;First Step: The Future (Part-4)
                </a>
            </div><!--navigate-articles-->





            <!--@content-->
        </div>

        



    </div><!--@article-container -->

    <br/><br/><br/><br/>



    <br/><br/>
</div><!--@container-fluid-->


<footer id="footerLinksContainer"> </footer>




<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/highlight/highlight.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>

	hljs.initHighlightingOnLoad();

    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


    } (jQuery));


</script>
</body>
</html>