<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Blog | First Step: Life Cycle, Code and Performance of “SmartListings”  (Part-3) </title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="../vendor/highlight/default.min.css">
    <link rel="stylesheet" href="../vendor/highlight/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->

    
    <link rel="stylesheet" type="text/css" href="../assets/css/all-styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/blog-product-styles.css" >
    <style>
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">


    <div class="row blog-products-page" id="blogContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--content-->
            <ol class="breadcrumb">
                <li><a href="http://kamranshahzad.github.io/">Home</a></li>
                <li><a href="http://kamranshahzad.github.io/blog/">Blog</a></li>
                <li class="active">First Step: Life Cycle, Code and Performance of “SmartListings”  (Part-3)</li>
            </ol>

            <h1>First Step: Life Cycle, Code and Performance of “SmartListings”  (Part-3)</h1>
            <hr/>
            <div class="date">
                <i class="fa fa-clock-o"></i> &nbsp; March 16th, 2016
            </div>
            <!--Blog_Article-->


            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Code</h2>
            <p></p>
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Flexibility</h3>
            	<p></p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Extendable</h3>
            	<p></p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Debugging and Testing</h3>
            	<p></p>
            </div><!--@extension-box-->


            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Components Life Cycle</h2>
            <p></p>
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Traditional HTTP Web Application</h3>
            	<p></p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Single Page Application(SPA)</h3>
            	<p></p>
            </div><!--@extension-box-->


            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Performance Strategies</h2>
            <p></p>
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Multiple HTML Rendering</h3>
            	<p></p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Use Minimal Options</h3>
            	<p></p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;JavaScript Events</h3>
            	<p></p>
            </div><!--@extension-box-->
            

            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Why I write code in VanillaJS instead of JavaScript Frameworks?</h2>
            <p>
            	Why I prefer to write “SmartListings” components in VanillaJS instead of well reputed JavaScript Frameworks 
            	like AngularJS or BackboneJS? I faced this question when I presented my product to anyone! 
            	So I want to explain why I choose VanillaJS over JavaScript Frameworks
            </p>
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Point#1</h3>
            	<p>
            		I started to write my component(SmartListings) in BackboneJS. Because, BackboneJS is less size and have 
            		very strong features. In simple control rendering Backbone Views were working fine. When I started to 
            		render nested control using BackboneJS View, I faced performance issue. That process were consuming huge 
            		memory. My aim to build a high performance tool which could work on low memory was failing. 
            		I start digging BackboneJS source code. 
            	</p>
            	<pre>
                <code class="javascript">_createElement: function(tagName) {
      	return document.createElement(tagName);
}</code>
            	</pre>
            	<p>
            	It is creating DOM element dynamically that is extensive process for memory. 
            	</p>

            	<h3><i class="fa fa-angle-right"></i>&nbsp;Point#2</h3>
            	<p>
				Every JavaScript support VanillaJS to extends its functionality. It means “SmartListings” 
				components could easily port to any modern JavaScript framework. This point provides the 
				compatibility with any JavaScript framework.
				</p>

				<h3><i class="fa fa-angle-right"></i>&nbsp;Point#3</h3>
				<p>
					Freedom of code, JavaScript provides the flexibility to write code with freedom(Build anything attitude).
				</p>
				<h3><i class="fa fa-angle-right"></i>&nbsp;Point#4</h3>
				<p>
					Easy migration from JavaScript ES5 to ES6
				</p>
            </div><!--@extension-box-->






            <div class="extension-box">
            </div><!--@extension-box-->



            <!--@Blog_Article-->

            <br/>
            <br/>
            <div class="navigate-articles">
                <a href="http://kamranshahzad.github.io/blog/first-step_the-future-part-4.html"><i class="fa fa-arrow-circle-right"></i>
                &nbsp;First Step: The Future (Part-4)
                </a>
            </div><!--navigate-articles-->





            <!--@content-->
        </div>

        



    </div><!--@article-container -->

    <br/><br/><br/><br/>



    <br/><br/>
</div><!--@container-fluid-->


<footer id="footerLinksContainer"> </footer>




<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/highlight/highlight.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>

	hljs.initHighlightingOnLoad();

    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


    } (jQuery));


</script>
</body>
</html>