<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Blog | First Step: Why Component Development?  (Part-1) </title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/all-styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/blog-product-styles.css" >
    <style>
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">


    <div class="row blog-products-page" id="blogContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--content-->
            <ol class="breadcrumb">
                <li><a href="http://kamranshahzad.github.io/">Home</a></li>
                <li><a href="http://kamranshahzad.github.io/blog/">Blog</a></li>
                <li class="active">First Step: Why Component Development?  (Part-1)</li>
            </ol>

            <h1>First Step: Why Component Development?  (Part-1)</h1>
            <hr/>
            <div class="date">
                <i class="fa fa-clock-o"></i> &nbsp; March 14th, 2016
            </div>
            <!--Blog_Article-->

                <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Vision</h2>
                <p>
                    During my development tenure I have worked on hundreds of web application. 
                    But I can add only few of them on my profile! Why? Because maximum web apps were 
                    developed for non-serious clients with no business vision, so after a year or so these web apps 
                    failed and clients didn’t even renewed the domains. And some were developed as junk 
                    (based on just do it, deliver rapidly with no security measures, no code quality, no QC, 
                    no application optimization etc). I believe in rapid development but there is no room for compromise 
                    on quality. Unfortunately local software market is all about quantity with no focus on quality and 
                    future perspectives. During my job I always preferred to adopt latest and stable technology according 
                    to project need and market demand. So I was not good fit for majority of local software houses, 
                    then I decide to quit my job and challenge myself by taking a bold decision and start working on my own 
                    ideas to develop a robust product with emphasis on quality, speed, security and scalability. 
                    Working on my own ideas gave me the freedom of choosing top of the line technologies that were best 
                    suited for my product.
                </p>
                
                <h2><i class="fa fa-angle-double-right icon" ></i>&nbsp;Market trends and component development</h2>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
                <div class="details-box">
                    <h4><i class="fa fa-angle-right"></i>&nbsp;Components are cost effective</h4>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                    </p>
                    <h4><i class="fa fa-angle-right"></i>&nbsp;My turn</h4>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                    </p>
                </div><!--@details-box-->
                
                <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Products which inspired</h2>
                <p>
                    Below products were developed for WordPress. These are top selling products on different marketplace like “codecanyon” and “themeforest” etc. This product’s comes with low price tag and yearly renewable license with 24/7 support.
                </p>




            <!--@Blog_Article-->


            <!--@content-->
        </div>

        



    </div><!--@article-container -->

    <br/><br/><br/><br/>



    <br/><br/>
</div><!--@container-fluid-->


<footer id="footerLinksContainer"> </footer>




<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>



    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


    } (jQuery));


</script>
</body>
</html>