<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Blog | First Step: The Future (Part-4) </title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/all-styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/blog-product-styles.css" >
    <style>
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">


    <div class="row blog-products-page" id="blogContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--content-->
            <ol class="breadcrumb">
                <li><a href="http://kamranshahzad.github.io/">Home</a></li>
                <li><a href="http://kamranshahzad.github.io/blog/">Blog</a></li>
                <li class="active">First Step: The Future (Part-4)</li>
            </ol>

            <h1>First Step: The Future (Part-4)</h1>
            <hr/>
            <div class="date">
                <i class="fa fa-clock-o"></i> &nbsp; March 17th, 2016
            </div>
            <!--Blog_Article-->


            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;The Next Step : Upcoming Component</h2>
            <p>
            	The upcoming product will build for WordPress Woocommerce with the name of “SmartWooCatalog”. 
            	This component will use some “SmartListings” components as base tools like SmartUrls, SmartCatalog and SmartFilters. 
            	This component will provide the full Drag/Drop environment to build dynamic catalog with ease. 
            	That is build for both developer or non-developers. This will come with extensive number of default 
            	layout templates and themes. Developers would be able to add new control to extend its functionality. 
            	And as well designer could be easily build new themes and layouts of this product.
            </p>
            <figure>
            	<img src="images/wp-catalog-popup.png"  />
            	<figcaption>
                    Adding sidebar filter controls for product catalog
                </figcaption>
            </figure>
            <p>
            	This component will very helpful to change product layout and adding sidebars for catalog page using Interactive (Drag/Drop) environment. 
            </p>
            <figure>
            	<img src="images/wp-catalog-sidebar.png"  />
            	<figcaption>
                    Adding sidebar widgets for filter controls
                </figcaption>
            </figure>


            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;Showcase for Products and Components</h2>
            <p>
            	I am working on my Showcase Website, where I placed all of my components and themes. Support is the key point to success for any commercial software component. So I am working on a useful support system, which will facilitate my customers. In my Showcase Website, my customer found these notable features.
            </p>
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Forum</h3>
            	<p>
            		Forum is the public discussion place for customer. I customized “BBPress” plugin to build forum for my Showcase Website. Customer could be able to discuss general bug issues or create a new topic to component. This feature will be only for paid customers.
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Ticketing System</h3>
            	<p>
            		I am building my custom Tickets Plugin. This plugin provide the facility to register customers issue related to their purchased components. That is a secure system, where customer can share his private details (i.e, cpanel info etc). This Plugin is integrate-able with Forum Plugin. Normal registered Issues(without customer private information) in tickets could be easily convertible in Forum topics.
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Blog and Knowledgebase Articles</h3>
            	<p>
            		I created a blog which have to type of categories. First one is related to components, where I will share all latest updates/features related to current or upcoming components. Here my customer will find all tip and techniques related to components. The Second category, related to technical articles which I will write for open source community.
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Help Documentation</h3>
            	<p>
            		Every component comes with complete and concise help document. This help document contains step by step component usage manual with complete screenshot. Customer will found all possible options related to components in this document. 
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Component Demo's</h3>
            	<p>
            		Any successful software component is incomplete without proper working demo's. So I am working hard on creating maximum variations for working dome's for my components.
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;My Services</h3>
            	<p>
            		My services areas will be custom component development, customizing components, integrate components with current system. I have a strong technical background, so I will provide the security, code review and technical consultation.
            	</p>	
            </div><!--@extension-box-->



            <h2><i class="fa fa-angle-double-right icon"></i>&nbsp;My Future Domains</h2>
            <p>
            	In the future, following are my focus domains.
            </p>
            <div class="extension-box">
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Product Development</h3>
            	<p>
            		Components development is my first idea to develop on commercial bases. But the product development trends growing very fast. So I added the “Products” corner in my showcase website. In my mind there are many product ideas. Product development is my passion of life. So I included the portion of products in my showcase website. A product will come with themes and components. Themes provide handle complete layout of the product. The product may contains on small extensions which handle a specific business domain, like Job portal is a product which have different controls like CV Builder, Candidate Manager, Candidate Searching Filters etc. User could purchase whole product with all themes and extensions or could purchase any single component of the product.
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Components Development</h3>
            	<p>
            		A component could be a stand-alone component or may contains many other extensions or components. Some component comes with basic free version. Every component comes have complete and concise help documentation.
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Theming Frameworks</h3>
            	<p>
            		Due to strong background with Web UI's I always want to work on layout blocks. 
            		I have created bridge extensions for different CMS and frameworks to handling layouts with ease. 
            		For example, I have created <a href="https://github.com/kamranshahzad/LayoutBundle">LayoutBundle</a> for symfony 2.5. 
            		This Bundle helps symfony users to build themes. 
            		This bundle provides the facility to create multiple themes for single web application. 
            		<a href="https://github.com/kamranshahzad/LayoutBundle">LayoutBundle</a> used simple XML configuration files to manage themes quickly. 
            		In the future, I will work on an interactive Drag/Drop layout system which will help users to build customize-able layouts for different CMS and frameworks(e.i, Symfony, Laravel, WordPress, Drupal, Django).
            	</p>
            	<h3><i class="fa fa-angle-right"></i>&nbsp;Open Source Contributions</h3>
            	<p>
            		I am active member of stackoverflow, where I put my effort to help people to solve code issues. I will continue to help code community. I am always looking for interesting open source project to participate. My participation may in form of bug fixes or adding new features. I am really happy to report bugs for any open source software which I am using. I eager to suggest new features or improvement for open source software which i am using.
            	</p>

            </div><!--@extension-box-->







            <!--@Blog_Article-->


            <!--@content-->
        </div>

        



    </div><!--@article-container -->

    <br/><br/><br/><br/>



    <br/><br/>
</div><!--@container-fluid-->


<footer id="footerLinksContainer"> </footer>




<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>



    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


    } (jQuery));


</script>
</body>
</html>