<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Kamran Shahzad | Home </title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/all-styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/blog-styles.css">
    <style>
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">

    <div class="row article-container" id="articleContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <!--content-->    
            <h1>Articles</h1>
            <div class="well well-lg" id="articleNote"></div>


            <div class="articles-list" id="blogList" style="margin-bottom:150px;">
            </div><!--@articles-list-->

            

            <div class="contact-container" id="contactContainer">
            </div><!--@contactContainer-->
            <br/><br/>

        <!--@content-->    
        </div>
    </div><!--@article-container -->

    
</div><!--@container-->


<footer id="footerLinksContainer"> </footer>



<script id="blogArticleTemplate" type="text/template">
    <table class="table table-hover">
        <tbody>
            <% _.each( articles , function( item ){ %>
            <tr>
                <td class="date"><%= item.date%></td>
                <td class="link"><i class="fa fa-angle-double-right"></i>&nbsp;
                    <a href="<%= item.url %>"><%= item.title %></a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>



    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


        //blog list
        var tpl = $("#blogArticleTemplate").html();
        var template = _.template(tpl);
        $('#blogList').append(template(article_list));



    } (jQuery));


</script>
</body>
</html>