<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Blog | the concept behind layoutbundle </title>
    <meta name="keywords" content="themes in Symfony, symfony themes, symfony layout">
    <meta name="description" content="How symfony framework with layouts. Symfony layout bundle supports multiple themes.">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/all-styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/blog-styles.css">
    <style>
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">


    <div class="row blog-container" id="blogContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--content-->
            <ol class="breadcrumb">
                <li><a href="http://kamranshahzad.github.io/">Home</a></li>
                <li><a href="http://kamranshahzad.github.io/blog/">Blog</a></li>
                <li class="active">The concept behind LayoutBundle</li>
            </ol>
            <h1>The concept behind LayoutBundle (Symfony 2.x)</h1>
            <hr/>
            <div class="date">
                <i class="fa fa-clock-o"></i> &nbsp; August 23th, 2015
            </div>

            <h2>Before We Start</h2>
            <p>
            	How we compose a web page layout normally? There are no fixed rules to compose the web page layouts, most of the time we use layout pattern like, Header, Sidebar, Content, Footer. A web page is full of widgets or blocks, which have different functionality. Web Application have one or more than one pages, every page have its own layout composition. While creating a layout system, we aim to create a layout system that fits almost every layout composition/design. 
				
            </p>
            <figure>
                <img src="images/basic-web-page-layout.jpg" />  
                <figcaption>
                    Basic web page layout
                </figcaption>
            </figure>

            <h2>Features of LayoutBundle</h2>
            <p>
                LayoutBundle have many usefull features:
                <ul>
                    <li>Multi theme supported</li>
                    <li>Theme regions and blocks supported</li>
                    <li>Xml based layout configuration file</li>
                    <li>Inline theme blocks support</li>
                    <li>Fully extendable</li>
                </ul>
            </p>
            <h2>Todo list</h2>
            <p>
                updates for next version:
                <ul>
                    <li>Dynamic breadcrumbs</li>
                    <li>Customizeable menus/links</li>
                    <li>Region and block visibilty rules</li>
                    <li>Block sorting</li>
                    <li>Fancy error pages</li>
                    <li>Url rules</li>
                    <li>Theme assets management</li>
                    <li>Custom and customizedable/extendable header and footer</li>
                    <li>User roles and permissions on layout</li>
                    <li>Dashboard/Widgets</li>
                    <li>Dynamic head titles</li>
                    <li>Head meta tags</li>
                    <li>Head sharing tags</li>
                    <li>Ajax blocks</li>
                    <li>Schema markup</li>
                    <li>Multi language support</li>
                    <li>Useful helper commands</li>
                </ul>
            </p>

            <h2>Why I need to develop LayoutBundle?</h2>
            <p>
                <span class="bold">
                    Symfony is very powerful php framework with a strong template engine(twig). Doctrine ORM made symfony2 the best choice to develop larger web applications smoothly.
                </span> 
                During development in symfony, I want to develop a layout system/theming engine which helps frontend/backend developers to integrate UI with backend without any issue. This component will help developer in following ways:
                <ul>
                    <li>More productive</li>
                    <li>One click theme change</li>
                    <li>URL rules effect on theme templates</li>
                    <li>Easy to use</li>
                    <li>Automated repeated work</li>
                    <li>Fully extendable</li>
                    <li>User permissions on layout level</li>
                    <li>Dynamic dashboard/ajax supported wigets</li>
                    <li>Page performance optimization</li>
                    <li>All themes in one pack</li>
                    <li>Implement maximum layout related features</li>
                    <li>Easy to deploy</li>
                    <li>Easily integrate a web design with backend functionality</li>
                    <li>Support modern css frameworks like Bootstrap & Foundation.</li>
                    <li>Integrate with node.js and other JS frameworks</li>
                    <li>SEO friendly</li>
                </ul>
            </p>
            <p>This Layout component is not completed yet, it is still in initial stage. I want to share this component with all developers for suggestions and to help make it better.</p>
            <blockquote>
                <p>Flexibility and productivity is the key point of LayoutBundle</p>
            </blockquote>
        
            <h2>Layouts inspirations!</h2>
            <p>
                During the development with frameworks a UI or design is hard to integrate. Mostly developers did not follow the design standards. So the final design is not fully compatible with backed. I always try to create small UI's myself to improve my front end skills. The best layout must have 3 following features, portable, customiseable, and extendable. Drupal has a very powerful UI layout structure, with usable building blocks. Magneto's layout structure is also powerful but its configuration is very complex. so my aim is to develop a layout system which will be easy to customize can be used with any frame work with simple one click install and yet simple to understand and configure .
            </p>
            <blockquote>
                <p>I inspired theming of Drupal & Magneto. </p>
            </blockquote>
            
            <h2>Layout Configurations</h2>
            <p>
                LayoutBundle provide full support for multi-themes. How can you apply the theme or themes? 
                This bundle uses a central configuration file which is “layouts.xml”. This file is the main 
                handler for themes. You can define rule for specific theme or theme template in this file.
                 This file have predefined pattern which is in detail explained in LayoutBundle doc file. 
                 In below diagram, you can see the basic flow of “layouts.xml” file.
            </p>
            <blockquote>
                <p>Theme templates changed based on urls</p>
            </blockquote>

            <figure>
                <img src="images/layout-config-xml.jpg" />  
                <figcaption>
                    Layout configuration file
                </figcaption>
            </figure>

            <h2>How LayoutBundle services communicate?</h2>
            <p>
                The layoutbundle have many services which performs different tasks. All services are sharing 
                information. Here are some step which will guide you about services flow:
            </p>
            <p>
                1. <span class="bold">LayoutListener</span> : When a request will be made it will invoke HTTPKenel events. LayoutBundle is using three HttpKernel events: 
                    <ul>
                        <li>"onKernelRequest()" here is the start point of layoutbundle. LayoutBundle will set the urls to 'LayoutThemeResolver' services and get parent template.</li>
                        <li>"onKernelController()" here layoutbundle sets the twig variables to request attributes. </li>
                        <li>"onKernelView()" here layoutbundle get template and twig variables attribute from request object and set into response.</li>
                    </ul>
                <br/>
                2. <span class="bold">LayoutThemeResolver</span> : This service gives the information(current url) to 'LayoutBuilder' and returns parent template from it.
                <br/>
                3. <span class="bold">LayoutBuilder</span> : 'LayoutBuilder' sets current infomation to 'LayoutTemplateRenderer' service and get parent template that is found in layouts.xml file
                <br/>
                4. <span class="bold">LayoutTemplateRenderer</span> : This service is reponsible to build regions and block.
                <br/>
                5. <span class="bold">ThemeHelper</span> : 'ThemeHelper' provides 'regions' and 'inlineblocks'
                <br/>
                6. <span class="bold">ThemeExtention</span> : Twig helper
                <br/>
            </p>
            <figure>
                <img src="images/layoutbundle-services.jpg" />  
                <figcaption>
                    Layout services communication flow
                </figcaption>
            </figure>

            <h2>How Regions and blocks work?</h2>
            <p>
                Regions and bloks are main part of layoutbundle. LayoutBundle scans the specified bundles and find blocks for layout region. How this works? when you configure the layoutbundle you can see the option:
            This option helps layout bundle to find blocks from a specific namespace e. if you set vest namespace, layout bundle will scan all bundles from "Vest" namespace and collect the blocks to fit in template regions. Theme name space configuration option accepts one or more parameters(name spaces). 
            Every bundle which blocks we wish to use in our layout. It's name space must be added in configuration, multiple name spaces are added comma separated. Blocks configuration file performs main role to handle blocks attributes with layout system using block config file you can define block visibility rules and set many other options.    
            </p>
            <figure>
                <img src="images/layoutbundle-skeleton.jpg" />  
                <figcaption>
                    Basic template skeleton diagram for Layout Bundle.
                </figcaption>
            </figure>

            <h2>Finally, your thoughts</h2>
            <p>This bundle is in initial stage and we want to add more features. We value your precious feedback
            and will review/implement suggestions from you. So please take time and write to us
            “bleak.unseen@gmail.com”</p>


            <!--@content-->
        </div>

        



    </div><!--@article-container -->

    <br/><br/><br/><br/>



    <br/><br/>
</div><!--@container-fluid-->


<footer id="footerLinksContainer"> </footer>




<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>



    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


    } (jQuery));


</script>
</body>
</html>