<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Blog | the concept behind layoutbundle </title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <style>
    </style>
</head>
<body>



<header id="headerView"></header>



<div class="container">


    <div class="row blog-container" id="blogContainer">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--content-->
            <ol class="breadcrumb">
                <li><a href="http://kamranshahzad.github.io/">Home</a></li>
                <li><a href="http://kamranshahzad.github.io/blog/">Blog</a></li>
                <li class="active">The concept behind LayoutBundle</li>
            </ol>
            <h1>The concept behind LayoutBundle</h1>
            <hr/>
            <div class="date">
                <i class="fa fa-clock-o"></i> &nbsp; August 23th, 2015
            </div>

            <h2>Before We Start</h2>
            <p>
            	How we compose a web page layout normally? There is no fixed rules to compose the web page layouts, but at most time we use layout pattern like, Header, Sidebar, Content, Footer. A web page is full of widgets or blocks, which have different functionality. Web Application have one or more than one pages, every page have its own layout composition. When we try to create a layout system, we must try that our layout system fit almost every layout composition/design if not, that may be extendable. 
				If we try to create a layout system, It should be fit for every layout composition/design. If it is not possible, it may be extendable.
            </p>
            <figure>
                <img src="images/basic-web-page-layout.jpg" />  
                <figcaption>
                    Basic web page layout
                </figcaption>
            </figure>

            <h2>Features of LayoutBundle</h2>
            <p>
                LayoutBundle have many usefull features:
                <ul>
                    <li>Multi theme supported</li>
                    <li>Theme regions and blocks supported</li>
                    <li>Xml based layout configuration file</li>
                    <li>Inline theme blocks support</li>
                    <li>Fully extendable</li>
                </ul>
            </p>
            <h2>Todo list</h2>
            <p>
                These feature will include soon:
                <ul>
                    <li>Dynamic breadcrumbs</li>
                    <li>Customizeable menus/links</li>
                    <li>Region and block visibilty rules</li>
                    <li>Block sorting</li>
                    <li>Fancy error pages</li>
                    <li>Url rules</li>
                    <li>Theme assets management</li>
                    <li>Custom and customizedable/extendable header and footer</li>
                    <li>User roles and permissions on layout</li>
                    <li>Dashboard/Widgets</li>
                    <li>Dynamic head titles</li>
                    <li>Head meta tags</li>
                    <li>Head sharing tags</li>
                    <li>Ajax blocks</li>
                    <li>Schema markup</li>
                    <li>Multi language support</li>
                    <li>Useful helper commands</li>
                </ul>
            </p>

            <h2>Why I need to develop LayoutBundle?</h2>
            <p>
                <span class="bold">
                    Symfony is very powerful php framework which have a strong template engine(twig). Doctrine ORM made symfony2 the best choice to develop larger web applications smoothly.
                </span> 
                During development in symfony, I want to develop a layout system/theming engine which helps frontend/backend developers to integrate UI with backend without any issue. This component could help developer is following ways:
                <ul>
                    <li>More productive</li>
                    <li>One click theme change</li>
                    <li>URL rules effect on theme templates</li>
                    <li>Easy to use</li>
                    <li>Automated repeated work</li>
                    <li>Fully extendable</li>
                    <li>User permissions on layout level</li>
                    <li>Dynamic dashboard/ajax supported wigets</li>
                    <li>Page performance optimization</li>
                    <li>All themes in one pack</li>
                    <li>Implement maximum layout related features</li>
                    <li>Easy to deploy</li>
                    <li>Easily integrate a web design with backend functionality</li>
                    <li>Support modern css frameworks like Bootstrap & Foundation.</li>
                    <li>Integrate with node.js and other JS frameworks</li>
                    <li>SEO friendly</li>
                </ul>
            </p>
            <p>The Layout component is not completed yet, it is on first step. I am working on it when i got free. I want to share this component with all users for suggestion and help to write code.</p>
            <blockquote>
                <p>Flexibility and productivity is the key point of LayoutBundle</p>
            </blockquote>
        
            <h2>Layouts inspirations!</h2>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <blockquote>
                <p>I inspired theming of Drupal & Magneto. </p>
            </blockquote>
            
            <h2>Layout Configurations</h2>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <blockquote>
                <p>Theme templates changed based on urls</p>
            </blockquote>

            <figure>
                <img src="images/layout-config-xml.jpg" />  
                <figcaption>
                    Layout configuration file
                </figcaption>
            </figure>

            <h2>How LayoutBundle services communicate?</h2>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <figure>
                <img src="images/layoutbundle-services.jpg" />  
                <figcaption>
                    Layout services communication flow
                </figcaption>
            </figure>

            <figure>
                <img src="images/layoutbundle-skeleton.jpg" />  
                <figcaption>
                    Basic template skeleton diagram for Layout Bundle.
                </figcaption>
            </figure>


            <!--@content-->
        </div>

        



    </div><!--@article-container -->

    <br/><br/><br/><br/>



    <br/><br/>
</div><!--@container-fluid-->


<footer id="footerLinksContainer"> </footer>




<script id="articalTemplate" type="text/template">
    <li>
        <a href="<%= url %>"><i class="fa fa-arrow-right"></i> &nbsp;<%= title %> </a>
    </li>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../vendor/underscore-min.js"></script>
<script src="../assets/scripts/static-data.js"></script>
<script src="../assets/scripts/app.js"></script>
<script>



    (function ($) {


        $.get('../templates/headerView.html', function(template) {
            var tplHtml = _.template(template);
            $('#headerView').append(tplHtml(header_data));
        });

        $.get('../templates/linksView.html', function(template) {
            var tplHtml = _.template(template);
            $('#footerLinksContainer').append(tplHtml(footer_links));
        });

        //article notes
        var _noteTemplate = _.template("<%= note%>");
        $('#articleNote').append(_noteTemplate(article_note));

        //contact-me
        var _contactTemplate = _.template("<h3><%= h1 %></h3><p><%= paragraph %></p>");
        $('#contactContainer').append(_contactTemplate(contact_me));


    } (jQuery));


</script>
</body>
</html>